<!-- Section: Design Block -->
<section class="text-center">
  <!-- Background image -->
  <div class="p-5 bg-image" style="
        background-image: url('https://www.top5s.net/wp-content/uploads/laptops-featured-img.png');
        height: 300px;
        "></div>
  <!-- Background image -->

  <div class="card mx-4 mx-md-5 shadow-5-strong" style="
        margin-top: -100px;
        background: hsla(0, 0%, 100%, 0.8);
        backdrop-filter: blur(30px);
        ">
    <div class="card-body py-5 px-md-5">

      <div class="row d-flex justify-content-center">
        <div class="col-lg-8">
          <h2 class="fw-bold mb-5">Admin-Login</h2>
          <div d-flex mx-auto justify-content-center>
            <p>{{errMsg}}</p>
          </div>
          <form action="/admin/login" method="post">
            <!-- Email input -->
            <div class="form-outline mb-4">
             <label class="form-label" for="form3Example3">Email</label>
              <input type="text" name="email" id="form3Example3" class="form-control" />
            </div>

            <!-- Password input -->
            <div class="form-outline mb-4">
                <label class="form-label" for="form3Example4">Password</label>
                <input type="password" name="password" id="form3Example4" class="form-control" />
            </div>
            <!-- Submit button -->
            <button type="submit" class="btn btn-primary  mb-4">
              Login
            </button>
            
            
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Section: Design Block -->