<!-- FOOTER -->
<footer id="footer">
	<!-- top footer -->
	<div class="section">
		<!-- container -->
		<div class="container">
			<!-- row -->
			<div class="row">
				<div class="col-md-3 col-xs-6">
					<div class="footer">
						<h3 class="footer-title">About Us</h3>
						<p>We are Providing quality brand new Laptops and 24x7 custom support, Fast Delivery Etc...... </p>
						<ul class="footer-links">
							<li><a href="https://www.google.com/maps/place/10%C2%B054'17.3%22N+75%C2%B055'28.4%22E/@10.904817,75.9234054,17z/data=!3m1!4b1!4m6!3m5!1s0x0:0xd48e14f6b71d8b39!7e2!8m2!3d10.9048175!4d75.9245615"><i class="fa fa-map-marker"></i>Tirur,malappuram,kerala</a></li>
							<li><a href="tel:7907482697"><i class="fa fa-phone"></i>+91 7907482697</a></li>
							<li><a href="mailto:lapstore47@gmail.com"><i class="fa fa-envelope-o"></i>lapstore47@gmail.com</a></li>
						</ul>
					</div>
				</div>

				<div class="col-md-3 col-xs-6">
					<div class="footer">
						<h3 class="footer-title">Categories</h3>
						<ul class="footer-links">
							<li><a href="#">Hot deals</a></li>
							<li><a href="#">Laptops</a></li>
							<li><a href="#">Smartphones</a></li>
							<li><a href="#">Cameras</a></li>
							<li><a href="#">Accessories</a></li>
						</ul>
					</div>
				</div>

				<div class="clearfix visible-xs"></div>

				<div class="col-md-3 col-xs-6">
					<div class="footer">
						<h3 class="footer-title">Information</h3>
						<ul class="footer-links">
							<li><a href="#">About Us</a></li>
							<li><a href="#">Contact Us</a></li>
							<li><a href="#">Privacy Policy</a></li>
							<li><a href="#">Orders and Returns</a></li>
							<li><a href="#">Terms & Conditions</a></li>
						</ul>
					</div>
				</div>

				<div class="col-md-3 col-xs-6">
					<div class="footer">
						<h3 class="footer-title">Service</h3>
						<ul class="footer-links">
							<li><a href="/user-profile">My Account</a></li>
							<li><a href="/cart-view">View Cart</a></li>
							<li><a href="/wish-list">Wishlist</a></li>
							<li><a href="/display-order">Your Orders</a></li>
						</ul>
					</div>
				</div>
			</div>
			<!-- /row -->
		</div>
		<!-- /container -->
	</div>
	<!-- /top footer -->
</footer>
<!-- /FOOTER -->