<div class="d-flex justify-content-center align-items-center container my-5">
    <div class="card py-5 px-3">
        <form action="/enter-email" method="post">
            <h4 class="m-0 text-center">Enter Your Email</h4><span class="email-text text-center">
            <div class="d-flex flex-row my-5 align-item-center">
                <input name="email" type="text" class="form-control ml-2">
            </div>
            <div class="mx-auto">
                <button class="btn btn-primary btn-sm" type="submit">Submit</button>
            </div>
                    
        </form>
    </div>
</div>