<!-- Section: Design Block -->
<section class="text-center ">
  <!-- Background image -->
  <div class="p-5 bg-image" style="
        background-image: url('https://www.top5s.net/wp-content/uploads/laptops-featured-img.png');
        height: 300px;
        "></div>
  <!-- Background image -->

  <div class="card mx-4 mx-md-5 shadow-5-strong" style="
        margin-top: -100px;
        background: hsla(0, 0%, 100%, 0.8);
        backdrop-filter: blur(30px);
        ">
    <div class="card-body py-5 px-md-5">

      <div class="row d-flex justify-content-center">
        <div class="col-lg-8">
          <h2 class="fw-bold mb-5">Login</h2>
          <form action="/login" method="post">
            <!-- Email input -->
            <div class="form-outline mb-4">
              {{#if loginErr}}
              <label class="form-label text-danger" for="form3Example3">{{errorMsg}}</label>

              {{/if}}
              <input type="email" name="email" id="form3Example3" class="form-control" placeholder="Email"/>
            </div>

            <!-- Password input -->
            <div class="form-outline mb-4">



              <input type="password" name="password" id="form3Example4" class="form-control" placeholder="Password"  />

            </div>
            <!-- Submit button -->
            <button type="submit" class="btn btn-primary btn-block mb-4">
              Login
            </button>
        </div>
        <div>
          <a href="/enter-email">
            <button type="button" class="btn btn-link btn-floating mx-1 text-primary">Forgot Password</button>
          </a>
        </div>
        <div class="text-center mt-4">
          <p>Don't have an account?</p>
          <a href="/signup">
            <button type="button" class="btn btn-link btn-floating mx-1 text-primary">Sign Up</button>
          </a>
        </div>
        </form>
      </div>
    </div>
  </div>
  </div>
</section>
<!-- Section: Design Block -->