<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>Electro - HTML Ecommerce Template</title>

	<!-- Google font -->
	<link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,700" rel="stylesheet">

	<!-- Bootstrap -->
	<link type="text/css" rel="stylesheet" href="css/bootstrap.min.css" />

	<!-- Slick -->
	<link type="text/css" rel="stylesheet" href="css/slick.css" />
	<link type="text/css" rel="stylesheet" href="css/slick-theme.css" />

	<!-- nouislider -->
	<link type="text/css" rel="stylesheet" href="css/nouislider.min.css" />

	<!-- Font Awesome Icon -->
	<link rel="stylesheet" href="css/font-awesome.min.css">

	<!-- Custom stlylesheet -->
	<link type="text/css" rel="stylesheet" href="css/style.css" />

</head>

<body>
	<div class="container-fluid">
		<div class="row d-flex cart align-items-center justify-content-center">
			<div class="col-md-6 border-right p-5">
				<div class="text-center order-details">
					<div class="d-flex justify-content-center mb-5 flex-column align-items-center"> <span
							class="check1"><i class="fa fa-check"></i></span> <span class="font-weight-bold">Order
							Confirmed</span> <small class="mt-2">Your item
							will go to you soon</small> <a href="" class="text-decoration-none invoice-link">Thank you for choosing our website</a> </div>
					<a href="/display-order">
						<button class="btn btn-danger btn-block order-button">View Your Order</button></a>
				</div>
			</div>
		</div>
	</div>


		<link rel="stylesheet" href="/css/place-order.css">
		<link rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<!-- jQuery Plugins -->
		<script src="js/jquery.min.js"></script>
		<script src="js/bootstrap.min.js"></script>
		<script src="js/slick.min.js"></script>
		<script src="js/nouislider.min.js"></script>
		<script src="js/jquery.zoom.min.js"></script>
		<script src="js/main.js"></script>

</body>

</html>