
<!-- Section: Design Block -->
<section class="text-center text-lg-start">

  <!-- Jumbotron -->
  <div class="container my-5 mx-auto">
    <div class="row g-0 align-items-center mx-auto">
      <div class="col-lg-6 mb-5 mb-lg-0">
        <div class="card cascading-right" style="
            background: hsla(0, 0%, 100%, 0.55);
            backdrop-filter: blur(30px); mx-auto
            ">
          <div class="card-body mx-auto shadow-5 text-center">
            <h2 class="fw-bold mb-5">Sign up now</h2>
            <form action="/signup" method="post" id="Signup">
              <div class="row">
                <div class="col-md-6 mb-4">
                  <div class="form-outline">
                    <input type="text" id="first_name" name="first_name" class="form-control" placeholder="First Name" />
                  </div>
                </div>
                <div class="col-md-6 mb-4">
                  <div class="form-outline">
                    <input type="text" id="last_name" name="last_name" class="form-control" placeholder="Last name" />
                  </div>
                </div>
              </div>

              <!-- Email input -->
              <div class="form-outline mb-4">
                <input type="email" id="email"  name="email" class="form-control" placeholder="Email" />
              </div>

              {{!-- Phone number --}}
              <div class="form-outline mb-4">
                <input type="number"  name="phone" id="phone" class="form-control" placeholder="Phone Number" />
              </div>

              <!-- Password input -->
              <div class="form-outline mb-4">
                <input type="password"  name="password" id="password" name="password" class="form-control" placeholder="Password" />
              </div>

               <!-- Password conform -->
              <div class="form-outline mb-4">
                <input type="password" name="cmpassword" id="cmpassword" class="form-control" placeholder="Confirm Passwoed" />
              </div>

              <!-- Submit button -->
              <a href="">
                   <button type="submit" class="btn btn-primary btn-block mb-4">
                Sign up
              </button>
              </a>
               <div class="text-center">
              <p>Alredy have an account?</p>
             <a href="/login">
                 <button type="button" class="btn btn-link btn-floating mx-1 text-primary">Login</button>
             </a> 
            </div>
            </form>
          </div>
        </div>
      </div>
      <div class="col-lg-6 mb-5 mb-lg-0">
        <img src="https://img.freepik.com/premium-vector/collection-realistic-vector-laptop-tablet-computer-monitor-mobile-phone_9209-34.jpg?w=2000" class="w-100 h-100 rounded-4 shadow-4"
          alt="" />
      </div>
    </div>
  </div>
  <!-- Jumbotron -->
</section>
<!-- Section: Design Block -->

