
<div class="d-flex justify-content-center align-items-center container my-5">
    <div class="card py-5 px-3">
        <form action="/verifyotp" method="post">
            <h4 class="m-0 text-center">Enter Your OTP</h4><span class="email-text text-center">
                <span class="email-text text-center"><br> Enter the code
                we just send on your <br>
                Email Address<b class="text-danger">sam*****@gmail.com</b></span>
            <div class="d-flex flex-row my-5 align-item-center">
                <input name="otp" type="text" class="form-control ml-2">
            </div>
            <div class="mx-auto">
                <button class="btn btn-primary btn-sm" type="submit">Submit</button>
            </div>
            <br>
            <div class="text-center "><span class="d-block mobile-text">Don't receive the code?</span><span
                    class="font-weight-bold text-danger cursor">Resend</span></div>
                    
        </form>
    </div>
</div>